# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: React Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    environment:
      CI = 'false'
    steps:
    - uses: actions/checkout@v2
    - name: Setup Project Build
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'
        cache: 'npm'
    - name: Install Dependencies
      run: npm install
      
    - name: Build Project
      run: npm run build --if-present
      
    - name: Test Project
      run: npm test
